* {
  text-decoration: none;
}

.paper {
  background: #ebebeb !important;
  margin-top: 10px;
  padding: 15px 25px;
  width: 350px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.iconPart {
  display: flex;
  align-items: center;
  gap: 10px;
}
.rightSide > div {
  text-align: end;
}

@media screen and (max-width: 400px){
  .paper {
    margin-top: 10px;
    padding: 15px 25px;
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    cursor: pointer;
  }
  .rightSide > div {
    text-align: center;
  }
}